@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

.imagenAdentro {
  width: 20%;
}

.imagen {
  width: 4%;
  padding: 0%;
  margin: 0%;
  text-align: center;
}

.corazon {
  width: 6%;
  padding: 0%;
  margin: 0%;
}

p {
  font-size: 20px;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("..//Imagenes/rubius.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "VT323", monospace;
  color: #fff;
  background-color: #0c0c0c;
}

nav {
  background-color: #2c2c2c;
  padding: 1.3rem 1rem;
  text-align: center;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

nav ul li a {
  text-decoration: none;
  color: #58dec3;
  background-color: #1a1a1a;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  font-size: 25px;
  font-weight: bold;
  transition: 0.3s;
}

nav ul li a:hover {
  background-color: #00ffcc;
  color: #cf36bd;
}

#notas {
  padding: 2rem;
  text-align: center;
}

#notas h1 {
  font-size: 2.5rem;
  color: #5aefb1;
  margin-bottom: 2rem;
}

#notasEspeciales {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

#notaContainer {
  display: flex;
  align-items: center;
  gap: 10px; /* espacio entre botones y nota */
}

.nota {
  background-color: rgba(52, 40, 40, 0.55);
  border-left: 5px solid #261733;
  padding: 2rem;
  width: 700px; /* ancho fijo */
  height: 400px; /* alto fijo */
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 10px #4f0f6455;
  font-size: 22px;
  overflow-y: auto; /* scroll interno si el contenido es más grande */
}

.nota h2 {
  color: #ff00d9;
  margin-bottom: 1rem;
  font-size: 30px;
}

.nota p {
  font-size: 20px;
  line-height: 1.5;
}

.nota img {
  max-width: 90%;
  height: auto;
  margin: 15px 0;
  border-radius: 15px;
}

.flecha {
  display: flex; /* para centrar el contenido */
  justify-content: center; /* centra horizontalmente */
  align-items: center; /* centra verticalmente */
  width: 60px; /* tamaño del cuadrado */
  height: 60px;
  font-size: 30px; /* tamaño de la flecha */
  cursor: pointer;
  background-color: rgba(
    255,
    105,
    180,
    0.7
  ); /* fondo rosado semitransparente */
  border: 2px solid #ff1493; /* borde más definido */
  border-radius: 12px; /* bordes redondeados */
  color: #fff; /* color de la flecha */
  font-weight: bold;
  transition: 0.2s;
}

.flecha:hover {
  background-color: #ff1493; /* cambia el fondo al pasar el cursor */
  color: #fff; /* flecha permanece blanca */
  transform: scale(1.1); /* pequeño zoom para animación */
}
